body{
    /*background-color: darksalmon;*/
    display: flex;
    justify-content: center ;
    justify-items: center;
    height: 100vh;
    background-image: linear-gradient(120deg, #ffba9a 0%, #d57eeb 100%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0%;
}
.fm-box{
    border-radius:  20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width:min-content;
    align-items: center;
    height: fit-content;
    padding: auto;
    margin: auto;
    text-align: center;
    background-color:#ffffff;
    padding: auto;
    opacity: 90%;

}

.fm-box .item{
    position: relative;
}
.fm-box .item i{
    color: #5b3a4b;
    font-size: 18px;
    margin: 3px;
}
.fm-box .item input{
    margin: 3px;
    width:180px;
	font-size:16px;
	border:0;
	border-bottom:2px solid #5b3a4b;
	padding:5px 2px;
	color:#5b3a4b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 3px;
}

.fm-box .btns{
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: #ffffff;
    color:#5b3a4b;
    width: 180px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fm-box .link{
    font-size: small;
    position: relative;
    color: #5b3a4b;
}

.fm-box .valid button{
    font-size: 12px;
    background-color: #ffffff;
    color: #5b3a4b;
    height: 18px;
    width: auto;
    margin-right: 10px;
}

.fm-box .valid input{
    margin: 3px;
    width:120px;
	font-size: 12px;
	border: 1px solid #5b3a4b;
    padding: auto;
	color:#5b3a4b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 3px;
}
