.form-box{
    border-radius:  20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width:min-content;
    align-items: center;
    height: fit-content;
    margin: auto;
    text-align: center;
    background-color:#ffffff;
    opacity: 90%;
}

.form-box input{
    margin: 3px;
    width:300px;
    font-size:16px;
    border: 2px solid #5b3a4b;
    padding:5px 2px;
    color:#5b3a4b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}